@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    height: 100%;
}

body {
    min-height: 100%;
}

@layer utilities {
    .link-underline {
        border-bottom-width: 0;
        background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
        background-size: 0 3px;
        background-position: 0 100%;
        background-repeat: no-repeat;
        transition: background-size .4s ease-in-out;
    }

    .link-underline-black {
        background-image: linear-gradient(transparent, transparent), linear-gradient(#E78A00, #E78A00)
    }

    .link-underline:hover {
        background-size: 100% 3px;
        background-position: 0 100%
    }
}