.text span {
    position: absolute;
    left: 50%;
    font-size: 1.2rem;
    transform-origin: 0 100px;
}

.circle-class{
    animation: spin 5s linear infinite;
}
.circle-class:nth-child(2){
    animation: spin2 5s linear infinite;
}
.circle-class:nth-child(3){
    animation: spin3 5s linear infinite;
}
.circle-class:nth-child(4){
    animation: spin4 5s linear infinite;
}
.circle-class:nth-child(5){
    animation: spin5 5s linear infinite;
}
.circle-class:nth-child(6){
    animation: spin3 60s linear infinite;
}

@keyframes spin{
    from { transform: rotate(360deg) scale(1)}
    to { transform: rotate(0) scale(10)}
}
@keyframes spin2{
    from { transform: rotate(0deg)}
    to { transform: rotate(360deg)}
}
@keyframes spin3{
    from { transform: rotate(50deg)}
    to { transform: rotate(410deg)}
}
@keyframes spin4{
    from { transform: rotate(320deg)}
    to { transform: rotate(-40deg)}
}
@keyframes spin5{
    from { transform: rotate(180deg)}
    to { transform: rotate(540deg)}
}


@keyframes grow{
    from { transform: scale(1)}
    to { transform: scale(10)}
}
